
Variables

In [1]:
##Assign value 10 to variable and print it
x=10
print(x)

10

In [5]:
##Assign value hello to a variable message and print it
message = "hello"
print(message)

hello

In [9]:
##Create a variable and assign a value to it
##print the variable 
punctual= "early"
print(punctual)

early

In [11]:
##print the type of the variable 
type(punctual)

str

Data types

In [14]:
##Create a variable for each of the following data types; int,str,bool,float
Me = "my mummy"
Mum = 65
I_am = 12.3
to = True

In [16]:
#integer
print(Mum)

65

In [38]:
type(Mum)

int

In [26]:
#string
print(Me)

my mummy

In [40]:
type(Me)

str

In [28]:
#float
print(I_am)

12.3

In [42]:
type(I_am)

float

In [30]:
#bool
print(to)

True

In [44]:
type(to)

bool

In [32]:
# Convert 'Mum' to a float
Mum_as_float = float(Mum)

In [46]:
print(Mum_as_float)

65.0

In [34]:
# Convert 'I_am' to an integer
I_am_as_int = int(I_am)

In [48]:
print(I_am_as_int)

12

In [52]:
# Convert 'Me' to a boolean
Me_as_bool = bool(Me)

In [54]:
print(Me_as_bool)

True

In [56]:
# Convert 'to' to a string
to_as_str = str(to)

In [60]:
print(to_as_str)

True

Sets

In [18]:
# create a set from 1-10
the_set = set(range(1, 11))
print(the_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
#add number 11
the_set.add(11)
print(the_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [22]:
#remove number 5
the_set.remove(5)
print(the_set)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11}

In [24]:
#check if number 3 is present in the set
if 3 in the_set:
    print("3 is present in the set.")
else:
    print("3 is not present in the set.")

3 is present in the set.

In [26]:
#print the size of the set
len(the_set)

10

List

In [59]:
# create a list from 1-10
the_list= list(range(1, 11))
print(the_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
#add number 11
the_list.append(11)
print(the_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:
#remove number 5
the_list.remove(5)
print(the_list)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

In [65]:
#check if number 3 is present in the list
if 3 in the_list:
    print("3 is present in the list.")
else:
    print("3 is not present in the list.")

3 is present in the list.

In [67]:
#remove first element of the list
the_list.remove(1)
print(the_list)

[2, 3, 4, 6, 7, 8, 9, 10, 11]

In [69]:
#print the size of the text
len(the_list)

9

In [73]:
#reverse the order of the list
the_list.reverse()
print(the_list)

[11, 10, 9, 8, 7, 6, 4, 3, 2]